

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: #fa5900;
  text-decoration: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

h1{
  font-size: 80px;
  font-weight: 700;
  font-family: 'Trirong', serif;
}

h2{
  font-size: 40px;
  font-family: 'Cormorant Garamond', serif;
}

label{

  font-weight: 600;
}

p{
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
}

option{
  text-align: center;
}

select { 
  text-align-last:center; 
}

ul{
  list-style: none;
}

.about-jumbo{
  border-bottom: 3px solid #fa5900;
  /* background-color: #f91a51; */
  color: #fff;
  background-image: url("/images/forestwp.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.about-text{
  text-align: center;
  padding: 10%;
  font-size: 2em;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
}

.adamin-text{
  text-transform: capitalize;
}

.admin-data{
  background-color: #242146;
  color: #fff;
}

.admin-jumbo{
  border-bottom: 3px solid #fa5900;
  /* background-color: #f91a51; */
  color: #fff;
  background-image: url("/images/genji.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-danger{
  text-transform: capitalize;
  text-align: center;
}

.blue-background{
  background-color: #242146;
  color: #fff;
}

.bm-burger-button{
  width: 75px;
  position: fixed;
}
 
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 25px;
  width: 25px;
  right: 1px !important;
  position: absolute;
  top: 8px; 
}
 
/* Color/shape of close button cross */
.bm-cross {
  background: #000;
}



.bm-item{
  min-height: 100%;
  padding: 30px 0px 0px 0px;
}

.bm-header{
  margin: 15px auto;
  font-size: 40px;
  font-family: 'Trirong', serif;
}

.bm-morph-shape {
  fill: #fa5900;
}

.btn{
  background-color: #fa5900;
  color: #242146;
  border: 2px solid #fff;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 25px;
}

.btn-delelte{
  border-radius: 50%;
  height: 25px;
  width: 25px;
  color: #fff;
  background-color: #fa5900;
  margin-left: 10px;
  margin-top: 0px;
  border: 1px solid #333333;
  cursor: pointer;
}

.btn:hover{
  color: #fff;
  background-color: #f91a51;
  border: 2px solid #fff;
}

.card{
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #979797;
}

.card-body{
  color: #272a2e;
  background-color: #eee;
}

.chat-item{
  display: inline;
  padding: 0.5rem;
  color: #fff;
  font-size: 14px;
}

.chat-by{
  color: #fa5900;
  font-weight: 600;
  padding-right: 0.3rem;
}

.chat-jumbo{ 
  border-bottom: 3px solid #fa5900;
  background-color: #000;
  color: #000;
  background-image: url("/images/chatwp.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.chat-post{
  height: 60px;
  border-radius: 0px;
  border: 0px !important;
  background-color: #979797;
  color: #fff;
}

.chat-window{
  min-height: 400px; 
  overflow: auto;
  border-radius: 0px;
  background-color: #242146;
}

.chat-window ul{
  padding-left: 15px;
}

.comment-text{
  text-align: justify;
}

.correct{
  color: green;
  font-weight: 700;
  font-size: 30px;
}

.center-placeholder{
    text-align:center;
}

.crop {
    height: 100px;
    object-fit: cover;
    background-color: #333333;
}

.error-text{
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
  color: red;
}

.fadeIn{
  animation-delay: 3s;
  animation-duration: 2s;
}

.fadeInDown {
  animation-duration: 1s; 
}

.footer{
  background-color: #272a2e;
  color: #fa5900;
  border-top: 2px solid #fa5900;
  font-weight: 600;
}

.float-left{
  float: left;
}

.glossary-jumbo{ 
  border-bottom: 3px solid #fa5900;
  background-color: #000;
  color: #fff;
  background-image: url("/images/wowwp.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.home-stats{
  /* background-color: #f91a51; */
  color: #fff;
  background-color: #242146;
}

.home-results{
  background-color: #272a2e;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#272a2e), color-stop(94%, #242146));
  background-image: -webkit-linear-gradient(top, #242146 66%, #272a2e 33%,  #242146 0%);
  background-image: linear-gradient(to bottom,#242146 0%, #272a2e 33%,  #242146 66%);
}

.icon-bubble{
  margin: 30px;
  /* background-color: #f91a51; */
}

.login-alert{
  min-height: 95vh;
}

.modal-header{
  color: #fa5900;
  background-color: #242146;
  display: block;
}

.modal-body{
  color: #272a2e;
  background-color: #eee;
  border-radius: 0 0 7px 7px;
}

.key-icon-wrap{
  font-size: 150px;
  text-align: center;
  color: #fa5900;
}

.jumbo-text{
  background-color: rgba(20,20,20,.5);
}

.jumbotron{
  border-radius: 0px;
}

.nav-active{
  color: #fa5900;
}

.navbar{
  background-color: #272a2e;
  color: #fff;
  width: 175px;
  /* border-bottom: 3px solid #fa5900;
  border-top: 3px solid #fa5900; */
}

.nav-icon{
  width: 40px;
}

.navbar ul{
  padding: 5px;
}

.nav-link{
  padding: 5px;
}

.post-content{
  background-color: #242146;
  color: #fff;
}

.post-jumbo{ 
  border-bottom: 3px solid #fa5900;
  background-color: #000;
  color: #fff;
  background-image: url("/images/falloutwp.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.pulse{
  animation-iteration-count: 100;
  animation-duration: 2s;
}

.rotateIn{
  animation-duration: 3s;
}

.ReactModal__Content--after-open{
  margin-left: 20%;
  width: 60%;
  margin-top: 5%;
  border-radius: 10px;
  background-color: #ffffff;
  border: 3px solid #333333;
}

.reports-row{
  color: #272a2e;
}

.reports-row:first-child{
  border-radius: 7px 7px 0px 0px; 
}

.reports-row:last-child{
  border-radius: 0px 0px 7px 7px; 
}

.reports-row:nth-child(even){
    background-color:#ddd;
}

.reports-row:nth-child(odd){
  background-color: #eee;
}

.round-img{
  border-radius: 50%;
  border: 3px solid #fa5900;
}

.round-img:hover{
  border: 3 px solid #fa5900;
}

.splash{
  display: block;
  height: 300px;
  border-radius: 0px;
  font-size: 60px;
  color: #fff;
  background-color: #000000;
  border-bottom: 3px solid #fa5900;
  margin-bottom: 0px;
}

.splash-subtitle{
  text-transform: capitalize;
}

.username{
  font-size: 1rem;
  padding-left: 5px;
  padding-top: 5px;
  display: block;
  color: #fa5900;
}

.video-card{
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  /* object-fit: cover; */
}

.video-card:hover{
  border: 3px solid #f91a51;
}

.video-link{
  margin-bottom: 15px;
}

.video-jumbo{
  border-bottom: 3px solid #fa5900;
  background-color: #000;
  color: #272a2e;
  background-image: url("/images/minecraftwp.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px;
}


.video-icon-wrap{
  font-size: 50px;
  color: #fa5900;
  text-decoration: none;
}

.videos-results{
  background-color: #242146;
}

.wrong{
  color: red;
  font-weight: 700;
  font-size: 30px;
}

.yt-title{
  /* color: #fa5900; */
  background-color: #fff;
}


#entry-toptext{
  font-size: 60px;
  font-weight: 600;
}

#splash-video{
  opacity: 0;
}


/* Center Placeholders */
 .center-placeholder::-webkit-input-placeholder {
    text-align: center;
  }
  
  .center-placeholder:-moz-placeholder { /* Firefox 18- */
    text-align: center;  
  }
  
  .center-placeholder::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
  }
  
  .center-placeholder:-ms-input-placeholder {  
    text-align: center; 
  }
  
/* React Vis Styles */
.rv-discrete-color-legend-item__color{
  height: 20px !important;
  width: 20px !important;
  border-radius: 50% !important;
}

.rv-discrete-color-legend-item__title{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.ry-xy-plot{
  position: relative
}

.rv-hint{
  color: black;
  text-align: center;
}

.search-box{
  text-align: center;
}


  /* CSS For Background Video */
.videoHolder {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.video {
  position: absolute;
  top: 0;
  left: -5%;
  width: 110%;
  height: 110%;
}

@media (min-aspect-ratio: 16/9) {
  .video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video {
    width: 300%;
    left: -100%;
  }
}

@media only screen and (max-device-width: 768px) {
  .admin-jumbo, .post-jumbo, .glossary-jumbo, .about-jumbo, .splash {
      background-attachment: scroll;
  }

  .report-text, .comment-text{
      text-align: center;
  }

}

